@font-face {
    font-family: link-font;
    src: url(../../fonts/link-font.ttf);
}

.anchor {
  font-size: 16px;
  font-family: link-font;
  cursor: pointer;
  color: #6fbed7;
}

.anchor:hover {
  filter: drop-shadow(0 0 5px #03e9f4);
}
