.harryPotter {
  background-image: url(../../images/harryPotterBackground.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  padding: 25px;
}
