.weatherAppHeading {
  text-align: center;
}

.formSearchCity {
  display: flex;
  justify-content: center;
}

.weatherBlock {
  background-color: white;
  width: 700px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: 1px solid #ffdc60;
  display: flex;
}

.weatherBlock div {
  margin: 30px;
}
