@font-face {
    font-family: Harry-Potter;
    src: url(../../fonts/Harry-Potter.ttf);
}

.facultyTest {
  position: relative;
	z-index: 2;
  color: white;
  font-family: Harry-Potter;
  text-align: center;
  font-size: 25px;
	text-shadow: 1px 1px 7px black;
}

.resultButton {
  font-family: Harry-Potter;
  font-size: 35px;
  background-color: rgb(254,252,175);
  border: none;
  margin: 50px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  box-shadow: 1px 1px 7px black;
}

.testingResultHufflepuff {
  display: none;
}

.testingResultRavenclaw {
  display: none;
}

.testingResultGryffindor {
  display: none;
}

.testingResultSlytherin {
  display: none;
}

.restartButton {
  font-family: Harry-Potter;
  font-size: 35px;
  background-color: rgb(254,252,175);
  border: none;
  margin: 50px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  box-shadow: 1px 1px 7px black;
}
