.projectListMenu {
  width: 100%;
  padding: 15px;
  box-shadow: 0px 10px 12px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 50px;
  background-color: white;
}

.projectListHeader {
  text-align: center;
}

.linksProjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 15px;
}

.linkProject {
  margin-right: 25px;
  margin-bottom: 25px;
  border: 1px solid #6fbed7;
  padding: 10px;
  text-decoration: none;
}
